db/
node_modules
\.idea/
\.config/
\.npm/
\.pm2/
\.vue-templates/
\.ash_history
client

############################
# Docker
############################
docker-compose.override.yml
.env
proxymanager/data
letsencrypt